*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
}

:root{
    --text-color: #00060f;
    --background-color: #aac8fd;
    --primary-color: #68aee3;
    --secondary-color: #f9f0ff;
    --accent-color: #44a5fb;
    
}

@keyframes links{
    0%{
        border-bottom: 1px solid black;
    }
    100%{
        border-bottom: 3px solid black;
    }
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: max(100vh, 400px);
}

.background{
    z-index: -10;
    opacity: .6;
    position: absolute;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-repeat: round;
    background-size: cover; 
    background-image: url(//cms-gauib.s3.eu-central-1.amazonaws.com/noticias/imagenes/que_significan_las_senales_que_pueden_hacer_los_agentes_de_trafico.jpg?v=165);
}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:var(--text-color);
    background-color: var(--background-color);
    width: 100%;
    padding: 6px;
    padding-inline: 16px;   
    font-size:min(2.5rem,2.5vw);
}



.nav__ul{
    display:flex;
    justify-content: space-around;
    gap: 1rem;
    font-size:min(2rem,2vw);
}

.nav__li{
    display: block;
    border:0;
    animation: links 3s linear infinite;
}

.header a{
    transition: color 0.2s ease;
    color:var(--text-color);
}

.header a:hover{
    color: var(--accent-color);
}

.header a > *{
    font-size: clamp(0.6rem, 5vw, 3rem);
}

.patente-form{
    background-image: url('../assets/patente.jpg'); 
    background-size: cover;
    background-repeat: round;
}

.form-container{
    width: 50%;
    background-color: var(--primary-color);
    border-radius: 16px;
}

.form-container form{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.5rem;
}

.input-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}
.input-group label{
    font-size: clamp(1rem, 8vw, 3rem);
    margin: 0.3rem;
}

.input-group input{
    width: 100%;
    height: 2.5rem;
    font-size: 2rem;
    text-align: center;
    outline: none;
    border:none;
    border-radius:5px;  
    transition: outline 0.2s ease;
}
.input-group input:hover, .input-group input:focus{
    outline: none;
    border:none;
    outline: var(--accent-color) 5px solid;
}

input[type="submit"]{
    width: max(36%, 5rem);
    height: 2rem;
    font-size: 1.5rem;    
}
.patente-data{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    font-size: clamp(0.5rem, 4vw, 1.5rem);
    white-space: nowrap;
}
.patente-data > div > div{
    padding:2rem;
}

.patentes-data-row-group,.patentes-data-column-group{
    background-color: var(--primary-color);
}

.patentes-data-row-group > div:nth-of-type(even),.patentes-data-column-group > div:nth-of-type(even){
    background-color: var(--accent-color);
}


.multa-data{
    margin-block: 2rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 33%;
    font-size: clamp(0.5rem, 4vw, 1.5rem);
    white-space: nowrap;
}
.multa-data > div > div{
    padding:1rem;
}

.multa-data-row-group,.multa-data-column-group{
    background-color: var(--primary-color);
}

.multa-data-row-group > div:nth-of-type(even),.multa-data-column-group > div:nth-of-type(even){
    background-color: var(--accent-color);
}


.multa-result{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.button-50 {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  line-height: 00px;
  font-size: 3vw !important;
  margin: 0 5px 10px 0;
  overflow: visible;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-50 {
    font-size: 1.5rem !important;
    padding: 12px 50px;
  }
}

.multa-ticket{
    background-color: #ccc;
    width:66%;
    font-size:3vw;
}